<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  is a project with the main goal of a teaching web development using
  <a href="http://rubyonrails.org/">Ruby on Rails</a>. This is the sample application from this tutorial.
</p>
